@import "../../styles/variables";
@import "../../styles/mixins";

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;

  &.reversed {
    flex-direction: row-reverse;
  }
}
