    <!-- Like seriously, does it even fucking matter? -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Like seriously, does it even fucking matter?</h2>
                <p>If you look at the granddaddies of motherfucking websites, <a href="http://motherfuckingwebsite.com">every</a> <a href="http://bettermotherfuckingwebsite.com">single</a> <a href="http://evenbettermotherfucking.website">one</a> of them bring stupid points that websites need to look fugly to stay lightweight.</p>
                <p>None of those even fucking matter, since you spoiled fucks are willing to sell your soul to Verizon for that sweet 4G LTE internet, you won't even feel that loading time is there to haunt your sorry ass anyhow.</p>
                <p>This is where <em>The Best Motherfucking Website</em> ― <strong>TBMFW</strong> ― comes in. To prove all you fuckers wrong, plus it also works as an eye bleach.</p>
                <p>Now I know you're probably thinking, really?</p>
            </div>
        </div>
    </section>
