    <!-- Guess what. -->
    <section id="guesswhat" class="content-section content-section-full-height">
        <div class="pictured-section pictured-section-lg">
            <div class="container">
                <div class="col-lg-8">
                    <h2>Well, guess what:</h2>
                    <p>This isn't even close to over-designing. Look at this shit. It's beautiful, and doesn't even hurt your fucking eyes the more you see it.</p>
                    <p>If you're thinking, how does this still has all the glory of a perfect-ass website?</p>
                    <ul>
                        <li>Even with all these crap, shit <em>still</em> loads fast</li>
                        <li>And it's <em>still</em> fits on all your shitty screens too</li>
                        <li><em>Still</em> looks the same in all your shitty browsers</li>
                        <li>The motherfucker's accessible to <em>most</em> assholes that visit your site (though fuck those IE users, am I right?)</li>
                        <li>Though shit's <em>even more</em> legible and gets your fucking point across</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
