// Base
//
// Global styles for the website.

// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Remove default padding.
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: $font-family-sans-serif;
  font-size: $font-size;
  line-height: 1.5;

  @media (min-width: $grid-breakpoint-lg) {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
}

body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
}

// Figure elements
figure {
  margin: 2rem 0;
}

figcaption {
  font-size: 80%;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
