// Font stack
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Lora", Georgia, "Times New Roman", Times, serif;
$font-family-heading: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Media breakpoints
// (NOTE: Always use @media (min-width) when using these variables.)
$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;

// Dimensions for grid
$max-width: 750px;
$max-width-lg: 970px;
$max-width-xl: 1170px;
$container-padding: 1.5rem;
$container-padding-lg: 3rem;

// Font dimensions
$font-size: 16px;
$font-size-lg: 18px;
$line-height: 1.25;
$line-height-lg: 1.375;
