@import '../../styles/variables';
@import '../../styles/mixins';

.unsplashCreditBadge {
  display: inline-block;
  padding: 4px 6px;
  color: black;
  background-color: white;
  font-family: $font-family-system-ui;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  border-radius: 3px;

  img {
    display: inline-block;
    height: 12px;
    width: auto;
    margin: 0;
    position: relative;
    vertical-align: middle;
    top: -1px;

    svg {
      fill: black;
    }
  }

  span {
    display: inline-block;
    padding: 2px 3px;
  }
}
