@import "../../styles/variables";
@import "../../styles/mixins";

.featureSection {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.featureBox {
  padding: 1rem;
  background-color: white;
  color: black;

  h1 {
    color: black;
  }

  a {
    color: #6699cc;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  &.alternate {
    font-size: 80%;
    background-color: #6699cc;
    color: white;

    a {
      color: #fac863;
    }

    @media (min-width: $grid-breakpoint-sm) {
      position: absolute;
      bottom: 0;
      right: 1rem;
    }
  }
}

.featureImageBox {
  position: relative;

  img {
    margin: 0;
  }

  .credit {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
