.featureSection {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.firstFeatureBox {
  padding: 1rem;
  background-color: white;
  color: black;

  h1 {
    color: black;
  }
}
