<!-- Beautifully aligned shit. -->
<section id="beautiful-alignment" class="content-section">
  <div class="alignment-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-4">
        <h2>Beautiful alignment. And typography.</h2>
        <p>With this beautiful alignment, what else do you want? This website doesn't stick to the center of the fucking page
          all the time, like your dick trying to swing about.</p>
        <p>And shit's even more legible thanks to big-ass fonts that scales up to your crappy 4K monitor.</p>
      </div>
    </div>
  </div>
</section>
