<!-- .co domains are in, fuckers. -->
<section id="domains" class="content-section text-center">
  <div class="domains-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>.co domains are in, fuckers.</h2>
        <p>You think you look hipster as fuck with your long-ass .anything domains. Well guess what, they look <a href="http://dumb.domains/">piss-ugly</a>,
          <em>and</em> they're hard to type.</p>
        <p>Also, some asshole already took <a href="http://thebestmotherfuckingwebsite.com">the .com one</a>. Fuck them.</p>
      </div>
    </div>
  </div>
</section>