<!-- And yes, this is still satire, you dipshit. -->
<section id="satire" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>And yes, this is <em>still</em> satire, you dipshit.</h2>
      <p>Look, I know I'm treading old ground here but hear me out for a moment. I love what the creators of all those motherfucking
        websites did. But at the same time, given the speed of the modern internet it's not like it matters anyway.</p>

      <blockquote class="quote-no-border">
        <q>And of course, we have to come full circle at some point, right?</q>
        <footer>Shia LaBeouf, motivator.</footer>
      </blockquote>

      <p>Anyways, this website is made by <a href="https://resir014.github.io/">me</a>, and the domain name is generously donated
        by <a href="https://twitter.com/AT_745">him</a>.</p>
      <ul class="list-inline banner-social-buttons">
        {% for network in site.social %}
        <li>
          <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
