.fullScreenSection {
  display: flex;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 1.5rem 0;

  .fullScreenSectionInner {
    width: 100%;

    h1, h2, h3 {
      margin-top: 0;
    }
  }
}
